<!DOCTYPE html>
{% load static %}
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>commit-concatenate</title>
  </head>
  <body>
    <header></header>
    <main>
        <ul class="sidebar-nav">

            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
            {% endif %}
        </ul>
		{% block content%}

		{% endblock %}
	</main>
    <footer></footer>
  </body>
</html>
