{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css.css' %}">
	<table>
		{% for key, values in data.items %}
			<tr>
				<th scope="row" weekday={{ key }}>
			{% for j in values %}
				{% if j.1.0 >= 10 %}
					<td headers="xdd" class="amtd" date={{ j.0 }}  ><a href=""><span></span></a></td>
				{% elif j.1.0 >= 7 %}
					<td headers="xdd" class="amta" date={{ j.0 }}  ><a href=""><span></span></a></td>
				{% elif j.1.0 >= 3 %}
					<td headers="xdd" class="amtb" date={{ j.0 }}  ><a href=""><span></span></a></td>
				{% elif j.1.0 >= 0 %}
					<td headers="xdd" class="amtc" date={{ j.0 }}  ><a href=""><span></span></a></td>
				{% else %}
					<td headers="xdd" class="" date={{ j.0 }}  >><span>{{ j.0 }} === {{ j.1.0 }}, {{ j.1.1 }}, {{ j.1.2 }}</span></td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}
